body{
/*    border: 1px solid red;*/
    background-color: #F2F2F2;
}

.main {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    .main {
        display: block;
    }
    
/*
    .main>* {
        width: 100%;
        max-width: 100%;
    }
*/
}
